name: SDK building

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions: { }

jobs:
  build:
    name: Build and update SDK

    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1

      - name: Build SDK
        run: mise run build

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: |
            feat: automated SDK update

            This has been done to update the SDK to match [the current OpenAPI specification](https://svc.metrotransit.org/swagger/index.html).
          branch: auto-build
          delete-branch: true
          sign-commits: true
          title: 'feat: automated SDK update'
          body: |
            This has been done to update the SDK to match [the current OpenAPI specification](https://svc.metrotransit.org/swagger/index.html).
          labels: 'type:feature'
