name: Repo configuration

on:
  workflow_dispatch:

permissions: { }

jobs:
  labels:
    name: Sync labels

    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          sparse-checkout: .github/labels.yaml

      - uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2.3.3
        with:
          config-file: |
            https://raw.githubusercontent.com/bsoyka/cookiecutters/main/python-library/default-labels.yaml
            .github/labels.yaml
